server:
  port: 8085

spring:
  application:
    name: API-GATEWAY
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      webflux:
        discovery:
          locator:
            enabled: true
            lower-case-service-id: true
            routes:
              - id: user-service
                uri: lb://USER-SERVICE
                predicates:
                  - Path=/users/**
              - id: product-service
                uri: lb://PRODUCT-SERVICE
                predicates:
                    - Path=/products/**
              - id: order-service
                uri: lb://ORDER-SERVICE
                predicates:
                    - Path=/orders/**
              - id: delivery-service
                uri: lb://DELIVERY-SERVICE
                predicates:
                    - Path=/delivery/**
                filters:
                  - name: RequestRateLimiter
                    args:
                      redis-rate-limiter:
                        replenishRate: 10
                        burstCapacity: 20
                        requestedTokens: 1