server:
  port: 8081

spring:
  application:
    name: USER-SERVICE
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: postgres
    password: Postgres17@ukg
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # only for development. For Production, we use validate or none
    show-sql: true

jwt:
  secret: my-secret-key-for-jwt-is-1234567!@#
  expiration: 600000


admin:
  secret:
    code: ADMIN-secret-code-is-admin12345!@#

logging:
  file:
    name: logs/user-service.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0