server:
  port: 8084

spring:
  application:
    name: PRODUCT-SERVICE
  config:
    import: "configserver:http://localhost:8888"
  datasource:
    url: jdbc:mysql://localhost:3397/productdb?createDatabaseIfNotExist=true
    username: root
    password: mySQL25
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: my-secret-key-for-jwt-is-1234567!@#
  expiration: 600000
