server:
  port: 8083

spring:
  application:
    name: DELIVERY-SERVICE
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:mysql://localhost:3397/deliverydb
    username: root
    password: mySQL25
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        spring.json.add.type.headers: false

feign:
  client:
    config:
      default:
        connectTimeout: 10000
        readTimeout: 8000
        loggerLevel: basic

logging:
  file:
    name: logs/delivery-service.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

jwt:
  secret: my-secret-key-for-jwt-is-1234567!@#
  expiration: 600000