name: CI/CD for Api Gateway

on:
  push:
    branches: [ "main" ]
    paths:
      - 'api-gateway/**'

defaults:
  run:
    working-directory: ./api-gateway

jobs:
  build-and-test:
    name: Build and Test Api Gateway
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean install

  build-and-publish:
    name: Build and Publish Docker Image
    needs: build-and-test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:

          context: ./api-gateway
          push: true
          tags: ghcr.io/${{ github.repository }}/api-gateway:latest